<div class="min-h-screen  flex flex-col items-center">
  <!-- Header -->
  <div
    class="sm:bg-[url('assets/img2.svg')] w-full bg-cover sm:h-[500px] h-[600px] bg-bottom bg-no-repeat bg-[url('assets/mobile_first.svg')]">
    <nav class="w-full text-center text-[#FFB400] font-bold flex justify-center items-center mt-8 ">
      <ul class="flex lg:justify-center justify-evenly gap-4 LilitaOne header_text">
        <li><a href="#" class="hoverEffect">Home</a></li>
        <li class="rightBorder"></li>
        <li><a href="#" class="hoverEffect">Sobre</a></li>
        <li class="rightBorder"></li>
        <li><a href="#" class=" hoverEffect">Cadastro</a></li>
        <li class="rightBorder"></li>
        <li><a href="#" class="text-[#FFB400] hoverEffect">Login</a></li>
      </ul>
    </nav>
    <div class="flex justify-center sm:items-center gap-10 mt-12 w-[100%] max-sm:flex-col">
      <div class="w3-animate-bottom sm:-mt-20 max-sm:ml-16">
        <div>
          <h1
            class="md:text-5xl font-black text-white mb-4 sm:text-3xl text-[2.874rem] max-sm:leading-[3.25rem] LilitaOne tracking-wide">
            CIÊNCIAS <br>
            <span class="mt-10">HUMANAS</span>
          </h1>
        </div>
        <div class="sm:mt-10 mt-5">
          <button
            class="bg-yellow-400 hover:bg-yellow-500 text-white text-xl font-bold py-2 px-6 rounded-3xl w-[160px] tracking-widest">
            Começar
          </button>
        </div>
      </div>
      <div class="w3-animate-left max-sm:flex max-sm:justify-center">
        <img src="assets/img1.png" alt="Illustration" class="sm:w-[350px] w-[250px]">
      </div>
    </div>
  </div>
  <!-- Content Section -->
  <div
    class="bg-white w-11/12 md:w-8/12 lg:w-[66%] mt-8 p-6  text-[#6C5CE7] LilitaOne sm:text-2xl text-[20px] font-[400] flex flex-col gap-6">
    <p class="">Prova com 10 questões gerais sobre a matéria de ciências humanas.
    </p>
    <h2 class="">O que são as Ciências Humanas?</h2>
    <p class=" leading-relaxed">
      A área das Ciências Humanas é o conjunto de ciências que têm como objeto de estudo o ser humano. Entre as
      ciências da área de humanas, estão a Filosofia, Sociologia ou Ciências Sociais, História, Geografia, Letras,
      Teologia, Antropologia, Comunicação Social, Psicologia, Linguística, Artes, entre outras.
    </p>
  </div>

  <!-- Form Section -->
  <div class="w-[70%] sm:w-[45%] md:w-[35%] xl:w-[18%] mt-8">
    <h3 class="text-3xl font-[400] text-[#6C5CE7] mb-6 text-center LilitaOne">Cadastro</h3>
    <form class="flex flex-col justify-center ">
      <input type="text" placeholder="nome" class="inputstyale placeholder:text-white" />
      <input type="email" placeholder="email" class="inputstyale placeholder:text-white my-6" />
      <input type="password" placeholder="senha" class="inputstyale placeholder:text-white" />
      <p class="text-xl text-[#6C5CE7] text-center mt-6">
        Já tem uma conta?
      </p>
      <div class="flex justify-center">
        <button type="submit"
          class="bg-yellow-400 hover:bg-yellow-500 tracking-widest font-bold py-2 px-6 rounded-full text-white  w-44 ">
          Concluir
        </button>
      </div>
    </form>
  </div>
  <!-- Footer -->
  <footer
    class="mt-8 text-white text-sm w-full bg-cover bg-no-repeat flex items-center bg-top sm:h-[120px] sm:bg-[url('assets/footer.svg')] bg-[url('assets/mobile_footer.svg')]">
    <div class="pl-10 pt-20 max-sm:pb-5">
      © Vinícius <br> Neves Costa
    </div>
  </footer>
</div>